<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hierarchical News Events</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis-network.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/static/BasicUI.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="shortcut icon" href="#">

    <div id="modalNews" class="modal">
        <h3 style="text-align: center; padding-right: 10px;" id = 'modalNewsHeader'></h3>
        <div id="modalNewsContent"></div>
        <span class="close_news">&times;</span>
    </div>

    <div id="modalSettings" class="modal">
        <h3 style="text-align: center; padding-right: 10px;" id = 'modalSettingsHeader'> Entity Settings</h3>

        <div id="modalSettingsContent">
          <strong>Time & Place Weight &nbsp&nbsp&nbsp: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</strong><input type="range" min="0" max="1" step = 0.1 value="0" class="slider" id="myRange1"><span id="demo1"></span>
            <br>
          <strong>Content Weight &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: &nbsp</strong><input type="range" min="0" max="1" step = 0.1 value="1" class="slider" id="myRange2" style="margin-left: 40px;"><span id="demo2"></span>
<!--          <strong>Time &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp:&nbsp</strong><input type="range" min="0" max="1" step = 0.1 value="0.5" class="slider" id="myRange3"><span id="demo3"></span>-->
        </div>
        <div id="entity_names">
        <strong>&nbsp Entity Order : &nbsp</strong> <ul class="draggable-list" id="draggable-list"></ul>
        </div>

        <div id = "content_numbers">
<!--            <div id="content_depth" class="content_depth">-->
<!--                Content depth :&nbsp<input type="number" min="1" max="5" value="4" id="content_depth_number">-->
<!--            </div>-->
<!--            <div id="content_capture" class="content_capture">-->
<!--                Content capture :&nbsp<input type="number" min="0.25" max="5" value="1" step = "0.25" id="content_capture_number">-->
                <strong>Content Capture &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</strong> <input type="range" min="0.25" max="5" step = 0.25 value="3.75" class="slider" id="content_capture_number">
<!--            </div>-->
<!--            <div id="hierarchy_display">-->
<!--                Hierarchical display :&nbsp<input type="checkbox" id="hierarchy_display_checkbox" checked>-->
<!--            </div>-->
        </div>

        <div id = "filtering">
            <div id="topic_interest" class="topic_interest">
                <strong>Topic Of Interest &nbsp&nbsp: &nbsp&nbsp</strong><input type="text" placeholder="Topic / Person / Place ..." title="All documents will be displayed if the field is empty" id="topic_interest_keyword">
            </div>
            <br>
            <div id="from_date" class="from_date">
                <strong>From Date &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: &nbsp&nbsp</strong><input type="date" id="from_date_keyword">
            </div>
            <br>
            <div id="to_date" class="to_date">
                <strong>To Date &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: &nbsp&nbsp</strong><input type="date" id="to_date_keyword">
            </div>
        </div>

        <footer class="footer">
            <button type="button" class = "button_modal" onclick= "restoreDefaults()"><strong>Restore Defaults</strong></button>
            <button type="button" class = "button_modal" onclick= "set_content_depth();saveAndgenerateHierarchy()"><strong>Save & Generate Hierarchy</strong></button>
            <button type="button" class = "button_modal" onclick= "saveSettings()"><strong>Save</strong></button>
        </footer>


        <span class="close_settings">&times;</span>
    </div>



    <div id="modalRelatedNews" class="modal">
        <h3 style="text-align: center; padding-right: 10px;" id = 'relatedNewsHeader'>Related Event</h3>

        <div id = "related_news_event_representation">


                <div class = "block" style="margin-bottom: 30px;">
                    <strong>Cluster No :</strong>
                    <div class="related" id = "related_cluster_no">No</div>
                </div>

                <div class = "block" style="margin-bottom: 30px;">
                    <strong>Who <i class="bi bi-person"></i> &nbsp&nbsp:</strong>
                    <div class="related" id = "related_first_who_content">Person</div>
                </div>

                <div class = "block" style="margin-bottom: 30px;">
                    <strong>When <i class="bi bi-calendar"></i> &nbsp&nbsp:</strong>
                    <div class="related" id = "related_first_when_content">Time</div>
                </div>

                <div class = "block" style="margin-bottom: 10px;">
                    <strong>Where <i class="bi bi-shop"></i> &nbsp&nbsp:</strong>
                    <div class="related" id = "related_first_where_place_content">Place</div>
                </div>


        </div>

        <div id="related_news_articles">
            <div style = "font-size: 20px;">
                <strong>News Articles</strong>
            </div>
            <div id="relatedNewsArticlesText"></div>
        </div>


        <footer class="footer">
            <button type="button" class = "button_modal" onclick= "go_to_related_event()"><strong>Go To</strong></button>
        </footer>

        <span class="close_related_News">&times;</span>

    </div>






    <div id="modalInfo" class="modal">
        <h3 style="text-align: center; padding-right: 10px;">Quick Tour</h3>
        <img id = "modal_images" src="/static/image_1.png">
        <br>

        <button type="submit" id = "prev" class = "prev" onclick= "prevImage()">&#8249;</button>
        <button type="submit" id = "next" class = "next" onclick= "nextImage()">&#8250;</button>
        <span id = "img_no">1</span>
        <span id = "total_images">of  7</span>

<!--        <img src="/images/news_2.jpg" width="300" height="200">-->
        <span class="close_info">&times;</span>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/static/BasicUI.js"></script>
</head>

<header id="mainHeader">
    <h1 style="padding-left: 5px;">
<!--    <i class="bi bi-diagram-3-fill" style="color:FireBrick" ></i>-->
<!--    <span style="color:#7B241C">W</span>-->
<!--    <span style="color:#633974">E</span>-->
<!--    <span style="color:#1A5276">H</span>-->
<!--    <span style="color:#117864">O</span>-->
<!--    <span style="color:#9A7D0A">N</span>-->
<!--    <span style="color:#212F3C">A</span>-->

    <span style="color:black">W</span>
    <span style="color:black">E</span>
    <span style="color:black">H</span>
    <span style="color:black">O</span>
    <span style="color:black">N</span>
    <span style="color:black">A</span>
<!--    <span style = "display: inline-block; font-size : 15px;">(Weighted Entity Hierarchy of News Articles)</span>-->

        <div id="cluster_method">
        <strong>&nbsp Method &nbsp&nbsp: &nbsp&nbsp</strong>
            <select id="cluster_method_list" onchange="cluster_method_change()">
              <option>Hubble</option>
              <option>Voyager</option>
            </select>
        </div>

        <div id = "content_depth">
                <strong>Granularity &nbsp&nbsp: &nbsp&nbsp</strong> <input type="range" min="1" max="1000" step = 1 value="1000" class="slider" id="content_depth_number" onchange="content_depth_slider_onchange();generateHierarchy()">
        </div>

        <input type="text" placeholder="Search..." id="search_node" onkeydown="key_down(event)">
<!--        <button type="submit" class = "search_button" onclick= "search_focus_node()"><i class="bi bi-search"></i></button>-->

<!--        <div id="checkboxId" class="checkboxClass">-->
<!--        </div>-->


<!--        <button type="button" class = "button" onclick= "set_content_depth();generateHierarchy()"><strong>Run</strong></button>-->

<!--    <span style = "display: inline-block; font-size : 15px; margin-left: 210px;">(Advanced)</span>-->



<!--    <i class="bi bi-gear-fill" id = 'settings' title="Settings" onclick= "openSettings()"></i>-->

    <i class="bi bi-info-circle-fill" id = 'take_tour' title="Take Tour" onclick= "openInfo()"></i>

<!--    <i class="bi bi-chat-text-fill" id = 'user_study' title="User Study" onclick= "openUserStudy()"></i>-->

        <div id="hierarchy_display">
            <i class="bi bi-diagram-3" style="font-size:20px" ></i>
                &nbsp:&nbsp<input type="checkbox" id="hierarchy_display_checkbox" onchange="displayTree();reset_event_representation_news_content()"checked>
        </div>
        <div id="zoom_view">
            <i class="bi bi-zoom-in" style="font-size:20px" ></i>
                &nbsp:&nbsp<input type="checkbox" id="zoom_view_checkbox" onchange="displayTree();reset_event_representation_news_content()"checked>
        </div>
        <div id="search_availability">
            <i class="bi bi-search" style="font-size:20px" ></i>
                &nbsp:&nbsp<input type="checkbox" id="search_availability_checkbox" onchange="alter_search_bar()"checked>
        </div>




    </h1>
</header>



<body onload="displayTree()">

<div id="hierarchicalStructure"></div>

<div id="displayInfo">

    <div id="eventRepresentation">
        <div class = "main_event_representation_header" style="font-size: 20px;"><strong>Event Representation</strong>
            <strong><div id="event_representation_header">Cluster No</div></strong>
        </div>

        <div class = "main_event_representation_what">
            <strong>What <i class="bi bi-question-octagon"></i> &nbsp: </strong>
            <div class="dropdownWithoutEffectWhat">
                <strong><div id="what_content">Title</div></strong>
            </div>
        </div>

        <div class = "main_event_representation_who_when_where">

            <div class = "main_event_representation">
                <strong>Who <i class="bi bi-person"></i> :</strong>
                <strong><div class="dropdown" id = "first_who_content">Person</div></strong>
            </div>

            <div class = "main_event_representation">
                <strong>When <i class="bi bi-calendar"></i> :</strong>
                <strong><div class="dropdown" id = "first_when_content">Time</div></strong>
            </div>

            <div class = "main_event_representation">
                <strong>Where <i class="bi bi-shop"></i> :</strong>
                <strong><div class="dropdown" id = "first_where_place_content">Place</div></strong>
    <!--            <strong><div class="dropdown" id = "first_where_country_content">Country</div></strong>-->
    <!--            <strong><div class="dropdown" id = "first_where_city_content">City</div></strong>-->
            </div>

        </div>

        <div style="margin-bottom: 30px;"><strong>Related Events <i class="bi bi-columns-gap"></i> :</strong>
            <div class="dropdownWithoutEffectRelated"> <strong><div id="related_events_div">Related Events</div></strong></div>
        </div>
    </div>

    <div id="newsArticles">
        <div style = "font-size: 20px;">
            <strong>News Articles</strong>
            <div id="summary_button">
             <button type="button" class = "button_modal_summary" onclick= "showSummary()"><strong>Summary</strong></button>
            </div>
        </div>
        <div id="newsArticlesText"></div>
    </div>

</div>

</body>

</html>


